extends includes/layout

block title
	title Key4Key Dashboard

block leftpanel
	h3 Account Settings
	| These settings specify the minimums for who you will be matched with.
	form.pure-form.pure-form-stacked(method='POST')
		label(for='reqkarma') Combined Karma
		input#reqkarma(name='reqkarma' type='number' value=reqkarma)
		label(for='reqage') Account Age (days)
		input#reqage(name='reqage' type='number' value=Math.floor((Date.now()/1000-reqage)/86400))
		label(for='reqsize') Circle Size. Set to 0 to allow trades with betrayed players.
		input#reqsize(name='reqsize' type='number' value=reqsize)
		label(for='reqjoined') Joined Circles.
		input#reqjoined(name='reqjoined' type='number' value=reqjoined)
		include includes/csrf
		button.pure-button.pure-button-primary(name='action' value='changereq' type='submit') Update settings
	form.pure-form.pure-form-stacked(method='POST')
		button.pure-button(type='submit' name='action' value='logout') Logout

block rightpanel
	h3 Create new match
	if errorMatch
		span.error= errorMatch
	| This will randomly pair you with someone who meets your requirements. You will get their circle password, and they will get yours.
	form.pure-form.pure-form-stacked(method='POST')
		button.pure-button.pure-button-primary(name='action' value='exchange' type='submit') Roll the dice
	h3 Current Matches
	if exchanges.length === 0
		| Nothing to show here yet. Click the button above!
	else
		div.flex-vertical
			each exchange in exchanges
				div.exchange.pad-small
					div.user
						| User:&nbsp;
						a(href=`https://www.reddit.com/user/${exchange.user}/circle/embed?vote_key=${exchange.pw}`)= exchange.user
					div.pw Password:&nbsp;
						if exchange.betrayed
							em Betrayed
						else
							| #{exchange.pw}
						
					div.created Created: #{Math.floor((Date.now()/1000-exchange.created)/(60*60))} hours ago
